// bower:scss
// endbower

@import 'variables';
@import 'mixins';
@import 'animations';

/* RESET */
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: "abril-titling", serif;
  height: 100%;
}

.container {
  width: 1174px;
  margin: 0 auto;
  height: 100%;
}

/* HEADER */
.header {
  height: 80px;
  padding-top: 25px;
}

.logo-top {
  background: url("../images/logo_top.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 30px;
  display: block;
  float: left;
}

.email-top {
  float: left;
  margin-left: 70px;
  color: $accent-color;
  font-family: "abril-titling", serif;
  font-size: 13px;
  font-style: italic;
  text-decoration: none;
  line-height: 30px;
}

.nav {
  float: right;
}

.nav__link {
  float: left;
  list-style-type: decimal-leading-zero;
  margin-left: 70px;
  font-family: "proxima-nova", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #333234;
  font-weight: bold;
}

.nav__link a {
  font-family: "proxima-nova", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bababb;
  font-weight: normal;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__link--active a {
  color: $accent-color;
}

h1 {
  color: white;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 43px;
}

/* CONTENT */
.content {
  min-height: calc(100vh - 170px - 80px);
}

.content--home {
  height: calc(100vh - 170px - 80px);
}

.center {
  text-align: center;
  font-size: 15px;
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}

.sep-c {
  width: 50px;
  height: 14px;
  background-image: url("../images/separator_c.png");
  background-size: 50px 14px;
  background-repeat: no-repeat;
  margin: 20px auto;
  display: block;
}

.sep-l {
  width: 127px;
  height: 14px;
  background-image: url("../images/separator_l.png");
  background-size: 127px 14px;
  background-repeat: no-repeat;
  margin: 35px 0;
}

.left-heading {
  font-size: 15px;
  padding-top: 170px;

  h1 {
    margin-bottom: 12px;
  }

  p {
    line-height: 28px
  }
}

.work-grid {
  overflow: hidden;
  margin-left: 1px;
  margin-top: 40px;
}

.work-grid__item {
  width: 292px;
  margin-right: 1px;
  height: 219px;
  background: rgba(255, 255, 255, 0.05);
  float: left;
  margin-bottom: 1px;
  display: block;

  background-size: contain;
}

.italic {
  font-style: italic;
}

/* FOOTER */
.footer {
  height: 170px;
  position: relative;
  background-image: url("../images/footer.png");
  background-size: 177px 134px;
  background-position: center 35px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  p {
    color: rgba(255, 255, 255, 0.1);
    font-family: "proxima-nova", sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
  }
}