<div class="container">
	<div class="left-heading">
		<h1>WORK</h1>
		<p class="italic">
			I have worked with a number of companies including <br />
			Mozilla, VWO, Lima Sky, Housing and Shipster.
		</p>
		<div class="sep-l"></div>
	</div>

	<div class="work-grid  fade" ng-if="shots.length">
		<a href="{{ shot.html_url }}" style="background-image: url({{ shot.images.hidpi }})" ng-repeat="shot in shots" class="work-grid__item">
			<h3>{{ shot.title }}</h3>
		</a>
	</div>

		<a href="http://dribbble.com/kushsolitary" class="dribbble-link">View more on dribbble</a>
</div>